body {
    background-color: lemonchiffon;
    text-align: center;
    font-family: "meath";
    font-size: 25px;
}

@font-face {
    font-family: 'almendra';
    src: url("../fonts/Almendra-Regular.otf");
}

@font-face {
    font-family: 'bilbo';
    src: url("../fonts/Bilbo-Regular.ttf");
}

@font-face {
    font-family: 'cyber';
    src: url("../fonts/CyberCaligraphic.ttf");
}

@font-face {
    font-family: 'nonWatercolor';
    src: url("../fonts/Non Watercolor.ttf");
}

@font-face {
    font-family: 'meath';
    src: url("../fonts/MeathFLF.ttf");
}

@font-face {
    font-family: 'morphine';
    src: url("../fonts/Sister Morphine.ttf");
}

#background-image-container {
    top: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    filter: sepia(20%) contrast(50%) opacity(60%);
    -webkit-filter: sepia(20%) contrast(50%) opacity(60%);
    background-image: url('../images/akrotiri.jpg');
    background-size: cover;
    z-index: -1;
}

.game-view {
}

.game-view > div {
    background: rgb(212, 182, 111);
    border-image: url('../images/frame.jpg') 30 stretch;
    border-width: 50px;
    border-style: solid;
}

.unit-icon, .city-icon {
    width: 64px;
    border-radius: 32px;
}

.unit-icon.disabled {
    filter: grayscale(70%);
}

input {
    margin-bottom: 12px;
}

.loginForm {
    max-width: 250px;
}



.loginForm input {    
    font-size: 18px;
}

.flexyfrog {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: darkgoldenrod;
}

.btn-primary:hover {
    background-color: rgb(173, 123, 0);
}

/*
.btn-primary {
    background-color: darkslategray;
}

.btn-primary:hover {
    background-color: rgb(27, 59, 59);
}
*/

.menu {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100px;
    font-size: 1.2em;
}

.menuMainBackground {
    position: absolute;
    height: 42px;
    background: cadetblue;
    width: 100%;
    bottom: 3px;
}

.menuBottomBackground {
    position: absolute;
    height: 3px;
    background: darkslategray;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

.menu .menuItem {
    border: none;
    margin-left: 4px;
    border-radius: 2px 8px 2px 2px;
    background-color: cadetblue;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    z-index: 1;
    height: 45px;
}

.menu .menuItem.active {
    border: none;
    background: linear-gradient(to bottom, cadetblue 0%, darkslategray 100%);    
    color: black;
    height: 50px;
}

.lobbyGameList {
    margin-top: 40px;
    margin-left: 20px;
}

.pendingGame {
    max-width: 290px;
}

td, th {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
    vertical-align: middle;
}

tr:nth-child(even) {background: rgba(180, 218, 220, 0.6);}
tr:nth-child(odd) {background: rgba(120, 139, 139, 0.6);}